Flask
Flask-SQLAlchemy
flask-apscheduler
psycopg2-binary
Flask-WTF
email-validator
Flask-Login
Werkzeug
Flask-Migrate
sib-api-v3-sdk
python-dotenv
joblib
numpy
scikit-learn
cryptography
pywebpush
APScheduler
skl2onnx
onnx
onnxruntime
huggingface_hub
gunicorn
